@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    /* background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */
    background-image: linear-gradient( 180.7deg,  rgba(0,213,255,1) 2.5%, rgba(79,255,255,1) 97.7% );
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.hero{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.chat-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

#userInput{
    background: none;
    height: 7vh;
    border: 1px solid rgb(168, 168, 219);
    border-radius: 50px;
    padding: 0 10px;
    width: 60vw;
}

#icon{
    margin: 10px;
    cursor: pointer;
}