@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    /* background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */
    background-image: linear-gradient(180.7deg, var(--gradient-color-1) 2.5%, var(--gradient-color-2) 97.7%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.hero{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.chat-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

#userInput{
    font-family: 'Poppins', sans-serif;
    background: none;
    height: 7vh;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    padding: 0 10px;
    width: 60vw;
}

#icon{
    fill:rgb(155, 27, 27);
    margin: 10px;
    width: 20px;
    cursor: pointer;
}

.chat-response{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    background-color: black;
    width: 50%;
    height: 30%;
    border-radius: 30px;
}

.dot{
    margin-top:30%;
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 10px;
}