body{
    /* Source: https://cssgradient.io/*/
    background: rgb(255,97,29);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: Centers images horizontally */
}

.img-brg{
    width: 50%;
    margin: -5px;
}

.slide-mouse{
    height: 50px;
    width: 25px;
    border: 2px solid white;
    border-radius: 20px;
}

.img-brg:nth-child(4){
    z-index: 999;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
}

