body{
    /* Source: https://cssgradient.io/*/
    background: rgb(240,123,73);
    background: radial-gradient(circle, rgba(240,123,73,1) 0%, rgba(247,93,27,1) 49%, rgba(255,97,29,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: Centers images horizontally */
}

.main-heading{
    color: white!important;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-size: 40px;
}

.img-brg{
    width: 50%;
    margin: -5px;
}

.slide-mouse{
    height: 50px;
    width: 25px;
    border: 2px solid white;
    border-radius: 20px;
}

.img-brg:nth-child(5){
    z-index: 999;
}

.dot{
    width: 10px;
    margin: 0px auto;
    height: 10px;
    background-color: white;
    border-radius: 10px;
}

